header.navbar { 
  z-index: 99999;
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    .navbar {
      padding: 2rem 0;
      ul.navbar-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        li {
          &:first-of-type {
            flex-grow: 1;
          }
          a {
            position: relative;
            color: $lightgray;
            font-size: .85rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem 1.3rem;
            &::before {
              position: absolute;
              content: '';
              left: 1rem;
              bottom: 0;
              width: 0;
              height: .1rem;
              background: $lightgray;
              transition: all ease-in-out 250ms;
            }
            &:hover {
              &::before {
                width: calc(100% - 2rem);
              }
            }
          }
          a.logo-anchor {
            color: $white;
            text-transform: none;
            font-size: 1.5rem;
            &::before {
              content: none;
            }
          }
          a.active {
            &::before {
              width: calc(100% - 2rem);
            }
          }
        }     
      }
    }
  }
}